# Data Extraction

In [1]:
#!Curl -O "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-11/hotels.csv"

In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
filenames = glob.glob('*.csv')
df=[]
for file in filenames:
    print('Reading'+ file)
    df.append(pd.read_csv(file))

Readinghotels.csv

In [4]:
df = pd.concat(df)

In [5]:
df.shape

(119390, 32)

In [6]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

# Data Cleaning

In [13]:
df.isnull().sum()

hotel                      0
stays_in_weekend_nights    0
stays_in_week_nights       0
adults                     0
children                   4
babies                     0
reserved_room_type         0
assigned_room_type         0
dtype: int64

In [7]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
#Dropping irrevelant columns
df.drop(['is_canceled','lead_time','arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month','meal','country','market_segment','distribution_channel','is_repeated_guest','previous_cancellations','previous_bookings_not_canceled','booking_changes','deposit_type','agent','company','days_in_waiting_list','customer_type','adr','required_car_parking_spaces','total_of_special_requests','reservation_status','reservation_status_date'], axis=1, inplace=True)

In [9]:
df.head(5)

,hotel,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,reserved_room_type,assigned_room_type
0,Resort Hotel,0,0,2,0.0,0,C,C
1,Resort Hotel,0,0,2,0.0,0,C,C
2,Resort Hotel,0,1,1,0.0,0,A,C
3,Resort Hotel,0,1,1,0.0,0,A,A
4,Resort Hotel,0,2,2,0.0,0,A,A

In [23]:
df['vacation'] = np.where(df['children'] !='[]',0,1)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [10]:

#independet variable
#creating a matrix/the matrix contains the dataset variables
x = df.iloc[:, :-1].values
print(x)

[['Resort Hotel' 0 0 ... 0.0 0 'C']
 ['Resort Hotel' 0 0 ... 0.0 0 'C']
 ['Resort Hotel' 0 1 ... 0.0 0 'A']
 ...
 ['City Hotel' 2 5 ... 0.0 0 'D']
 ['City Hotel' 2 5 ... 0.0 0 'A']
 ['City Hotel' 2 7 ... 0.0 0 'A']]

In [11]:
#dependent variable
l = df.iloc[:, -1].values
print(l)

['C' 'C' 'C' ... 'D' 'A' 'A']